<meta charset="UTF-8">

<div class="topnav">
    <a class="active" href="/blog">Home</a>
    <!-- <a href="/login">Login</a> -->
    <a href="/blog/new">New Post</a>
    <% if(currentUser) { %>
        <a href="/profile/<%= currentUser._id %>">My Profile</a>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
  </div>